<div class="content" role="main">

  <input id="search" type="text" [formControl]="search">

  <span>{{ title }}</span>

  <ng-container *ngIf="currentPage$ | async as currentPage">
    Current page: {{currentPage}}
  </ng-container>

  <ng-container *ngIf="users$ | async as users">
    <ul>
      <li *ngFor="let user of users">
        {{user.name.first}}
      </li>
    </ul>
  </ng-container>

  <button (click)="stopSubscription()">Stop It!</button>

  <button (click)="previousPage()">Prev</button>
  <button (click)="nextPage()">Next</button>

  <app-modal>
    <div header>
      <span>This is the header</span>
    </div>
    <div body>
      <span>This is the body</span>
    </div>
    <div footer>
      <span>This is the footer</span>
    </div>
  </app-modal>
</div>

<app-profileform>

</app-profileform>

<router-outlet></router-outlet>
